force-app/main/default/flows/Schools_Out_Extra_Tickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Add_Both_Days_Ticket</name>
        <label>Add Both Days Ticket</label>
        <locationX>223</locationX>
        <locationY>973</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAddBoth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schools_Out_Fri_Sat_2024_Ticket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Existing_Both</targetReference>
            </connector>
            <label>YesAddBoth</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Friday_Schools_Out</name>
        <label>Add Friday Schools Out</label>
        <locationX>229</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Add_Saturday_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schools_Out_Fri_2024_Ticket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Existing_Fri</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Saturday_Ticket</name>
        <label>Add Saturday Ticket</label>
        <locationX>225</locationX>
        <locationY>724</locationY>
        <defaultConnector>
            <targetReference>Add_Both_Days_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAddSat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Schools_Out_Saturday_2024_Ticket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Existing_Sat</targetReference>
            </connector>
            <label>YesAddSat</label>
        </rules>
    </decisions>
    <decisions>
        <name>BothExistsCheck</name>
        <label>BothExists?</label>
        <locationX>439</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Get_Both_Schools_Out_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>BothExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Existing_Both.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>BothExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHost</name>
        <label>CheckHost</label>
        <locationX>626</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>Create_Fri_Schools_Out_Reg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Guest</defaultConnectorLabel>
        <rules>
            <name>YesHost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__New_Contact_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fri_Schools_Out_Reg_0</targetReference>
            </connector>
            <label>YesHost</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHost_0</name>
        <label>CheckHost</label>
        <locationX>656</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Create_Fri_Schools_Out_Reg_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Guest</defaultConnectorLabel>
        <rules>
            <name>YesHost_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__New_Contact_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fri_Schools_Out_Reg_0_0</targetReference>
            </connector>
            <label>YesHost</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHost_0_0</name>
        <label>CheckHost</label>
        <locationX>668</locationX>
        <locationY>1028</locationY>
        <defaultConnector>
            <targetReference>Create_Fri_Schools_Out_Reg_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Guest</defaultConnectorLabel>
        <rules>
            <name>YesHost_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__New_Contact_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fri_Schools_Out_Reg_0_0_0_0</targetReference>
            </connector>
            <label>YesHost</label>
        </rules>
    </decisions>
    <decisions>
        <name>FriExists</name>
        <label>FriExists?</label>
        <locationX>436</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Get_Friday_Schools_Out_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Existing_Fri.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Saturday_Ticket</targetReference>
            </connector>
            <label>YesExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SatExists</name>
        <label>SatExists?</label>
        <locationX>433</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Get_Saturday_Schools_Out_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Existing_Sat.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Both_Days_Ticket</targetReference>
            </connector>
            <label>YesExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Schools Out Extra Tickets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schools Out Extra Tickets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Fri_Schools_Out_Reg</name>
        <label>Create Fri Schools Out Reg</label>
        <locationX>722</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Add_Saturday_Ticket</targetReference>
        </connector>
        <inputAssignments>
            <field>Accommodations_Description__c</field>
            <value>
                <elementReference>$Record.Accommodations_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodations_Needed__c</field>
            <value>
                <elementReference>$Record.Accommodations_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Membership__c</field>
            <value>
                <elementReference>$Record.Active_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction_Description__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Description__c</field>
            <value>
                <elementReference>$Record.Funding_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_funding_if_applicable__c</field>
            <value>
                <elementReference>$Record.Type_of_funding_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Contact__c</field>
            <value>
                <elementReference>$Record.summit__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Instance__c</field>
            <value>
                <elementReference>Get_Friday_Schools_Out_Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Get_Friday_Schools_Out_Instance.summit__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host_Status__c</field>
            <value>
                <stringValue>Hosted registrant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host__c</field>
            <value>
                <elementReference>$Record.summit__Guest_Host__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_City__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Country__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Email__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Last_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Phone__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Preferred_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Pronouns__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Pronouns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_State__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_1__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_2__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Zip__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fri_Schools_Out_Reg_0</name>
        <label>Create Fri Schools Out Reg</label>
        <locationX>710</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>MarkMain</targetReference>
        </connector>
        <inputAssignments>
            <field>Accommodations_Description__c</field>
            <value>
                <elementReference>$Record.Accommodations_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodations_Needed__c</field>
            <value>
                <elementReference>$Record.Accommodations_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Membership__c</field>
            <value>
                <elementReference>$Record.Active_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction_Description__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Description__c</field>
            <value>
                <elementReference>$Record.Funding_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_funding_if_applicable__c</field>
            <value>
                <elementReference>$Record.Type_of_funding_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Contact__c</field>
            <value>
                <elementReference>$Record.summit__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Instance__c</field>
            <value>
                <elementReference>Get_Friday_Schools_Out_Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Get_Friday_Schools_Out_Instance.summit__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host_Status__c</field>
            <value>
                <stringValue>Host attending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_City__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Country__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Email__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Last_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Phone__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Preferred_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Pronouns__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Pronouns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_State__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_1__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_2__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Zip__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fri_Schools_Out_Reg_0_0</name>
        <label>Create Fri Schools Out Reg</label>
        <locationX>818</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>MarkMain_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Accommodations_Description__c</field>
            <value>
                <elementReference>$Record.Accommodations_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodations_Needed__c</field>
            <value>
                <elementReference>$Record.Accommodations_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Membership__c</field>
            <value>
                <elementReference>$Record.Active_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction_Description__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Description__c</field>
            <value>
                <elementReference>$Record.Funding_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_funding_if_applicable__c</field>
            <value>
                <elementReference>$Record.Type_of_funding_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Contact__c</field>
            <value>
                <elementReference>$Record.summit__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Instance__c</field>
            <value>
                <elementReference>Get_Saturday_Schools_Out_Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Get_Saturday_Schools_Out_Instance.summit__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host_Status__c</field>
            <value>
                <stringValue>Host attending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_City__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Country__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Email__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Last_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Phone__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Preferred_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Pronouns__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Pronouns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_State__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_1__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_2__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Zip__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fri_Schools_Out_Reg_0_0_0</name>
        <label>Create Fri Schools Out Reg</label>
        <locationX>820</locationX>
        <locationY>883</locationY>
        <connector>
            <targetReference>Add_Both_Days_Ticket</targetReference>
        </connector>
        <inputAssignments>
            <field>Accommodations_Description__c</field>
            <value>
                <elementReference>$Record.Accommodations_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodations_Needed__c</field>
            <value>
                <elementReference>$Record.Accommodations_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Membership__c</field>
            <value>
                <elementReference>$Record.Active_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction_Description__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Description__c</field>
            <value>
                <elementReference>$Record.Funding_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_funding_if_applicable__c</field>
            <value>
                <elementReference>$Record.Type_of_funding_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Contact__c</field>
            <value>
                <elementReference>$Record.summit__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Instance__c</field>
            <value>
                <elementReference>Get_Saturday_Schools_Out_Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Get_Saturday_Schools_Out_Instance.summit__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host_Status__c</field>
            <value>
                <stringValue>Hosted registrant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host__c</field>
            <value>
                <elementReference>$Record.summit__Guest_Host__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_City__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Country__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Email__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Last_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Phone__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Preferred_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Pronouns__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Pronouns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_State__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_1__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_2__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Zip__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fri_Schools_Out_Reg_0_0_0_0</name>
        <label>Create Fri Schools Out Reg</label>
        <locationX>878</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>MarkMain_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Accommodations_Description__c</field>
            <value>
                <elementReference>$Record.Accommodations_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodations_Needed__c</field>
            <value>
                <elementReference>$Record.Accommodations_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Membership__c</field>
            <value>
                <elementReference>$Record.Active_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction_Description__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Description__c</field>
            <value>
                <elementReference>$Record.Funding_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_funding_if_applicable__c</field>
            <value>
                <elementReference>$Record.Type_of_funding_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Contact__c</field>
            <value>
                <elementReference>$Record.summit__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Instance__c</field>
            <value>
                <elementReference>Get_Both_Schools_Out_Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Get_Both_Schools_Out_Instance.summit__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host_Status__c</field>
            <value>
                <stringValue>Host attending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_City__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Country__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Email__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Last_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Phone__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Preferred_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Pronouns__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Pronouns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_State__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_1__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_2__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Zip__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fri_Schools_Out_Reg_0_0_0_0_0</name>
        <label>Create Fri Schools Out Reg</label>
        <locationX>880</locationX>
        <locationY>1046</locationY>
        <inputAssignments>
            <field>Accommodations_Description__c</field>
            <value>
                <elementReference>$Record.Accommodations_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodations_Needed__c</field>
            <value>
                <elementReference>$Record.Accommodations_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Membership__c</field>
            <value>
                <elementReference>$Record.Active_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction_Description__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction__c</field>
            <value>
                <elementReference>$Record.Dietary_Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Description__c</field>
            <value>
                <elementReference>$Record.Funding_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_funding_if_applicable__c</field>
            <value>
                <elementReference>$Record.Type_of_funding_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Contact__c</field>
            <value>
                <elementReference>$Record.summit__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Instance__c</field>
            <value>
                <elementReference>Get_Both_Schools_Out_Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Get_Both_Schools_Out_Instance.summit__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host_Status__c</field>
            <value>
                <stringValue>Hosted registrant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Guest_Host__c</field>
            <value>
                <elementReference>$Record.summit__Guest_Host__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_City__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Country__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Email__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Last_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Phone__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Preferred_First_Name__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Pronouns__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Pronouns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_State__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_1__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_2__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Street_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Zip__c</field>
            <value>
                <elementReference>$Record.summit__Registrant_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Existing_Both</name>
        <label>Fetch Existing Both</label>
        <locationX>334</locationX>
        <locationY>1025</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BothExistsCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstLastEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstLastEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>summit__Event_Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Fri/Sat 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_Fri</name>
        <label>Fetch Existing Fri</label>
        <locationX>335</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FriExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstLastEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstLastEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>summit__Event_Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Friday 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_Sat</name>
        <label>Fetch Existing Sat</label>
        <locationX>331</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SatExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstLastEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstLastEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>summit__Event_Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Saturday 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Both_Schools_Out_Instance</name>
        <label>Get Both Schools Out Instance</label>
        <locationX>553</locationX>
        <locationY>1029</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckHost_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Fri/Sat 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Friday_Schools_Out_Instance</name>
        <label>Get Friday Schools Out Instance</label>
        <locationX>540</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckHost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Friday 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Saturday_Schools_Out_Instance</name>
        <label>Get Saturday Schools Out Instance</label>
        <locationX>550</locationX>
        <locationY>787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckHost_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Saturday 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MarkMain</name>
        <label>MarkMain</label>
        <locationX>819</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Add_Saturday_Ticket</targetReference>
        </connector>
        <inputAssignments>
            <field>Main_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MarkMain_0</name>
        <label>MarkMain</label>
        <locationX>915</locationX>
        <locationY>798</locationY>
        <connector>
            <targetReference>Add_Both_Days_Ticket</targetReference>
        </connector>
        <inputAssignments>
            <field>Main_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MarkMain_0_0</name>
        <label>MarkMain</label>
        <locationX>993</locationX>
        <locationY>1095</locationY>
        <inputAssignments>
            <field>Main_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>233</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Add_Friday_Schools_Out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Event_Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out - Make It Count!</stringValue>
            </value>
        </filters>
        <object>summit__Summit_Events_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReturnedRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SatSchoolsOutEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>summit__Summit_Events__c</objectType>
    </variables>
</Flow>
