force-app/main/default/flows/SumTotalCalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddHostTotal</name>
        <label>AddHostTotal</label>
        <locationX>885</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>AddedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Total_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateHost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTotals</name>
        <label>AddTotals</label>
        <locationX>783</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>AddedTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopTotals.Total_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddHostTotal</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SumTotalCalculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SumTotalCalculation</label>
    <loops>
        <name>LoopTotals</name>
        <label>LoopTotals</label>
        <locationX>663</locationX>
        <locationY>522</locationY>
        <collectionReference>Get_Guest_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTotals</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Guest_Records</name>
        <label>Get Guest Records</label>
        <locationX>663</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopTotals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Guest_Host__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>summit__Summit_Events_Registration__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Due__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateHost</name>
        <label>UpdateHost</label>
        <locationX>992</locationX>
        <locationY>526</locationY>
        <inputAssignments>
            <field>Sum_Total_Due__c</field>
            <value>
                <elementReference>AddedTotal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Guest_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Guest_Host_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Host attending</stringValue>
            </value>
        </filters>
        <object>summit__Summit_Events_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
