force-app/main/default/flows/TicketSelect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Contains_21st_Century</name>
        <label>Contains 21st Century</label>
        <locationX>692</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Events_April_2024</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>21st Century</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_21st_Century_0</name>
        <label>Contains 21st Century</label>
        <locationX>693</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Events_April_2024</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>21st Century</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Community_Schools_Conference</name>
        <label>Contains Community Schools Conference</label>
        <locationX>570</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Contains_21st_Century</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Events_April_2024</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Community Schools Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_21st_Century_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EventChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Selected_Tickets__c</picklistField>
        <picklistObject>summit__Summit_Events_Registration__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>TicketSelect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TicketSelect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Ticket_Prices</name>
        <label>Get Ticket Prices</label>
        <locationX>853</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Events_April_2024</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>TicketSelectScreen</name>
        <label>TicketSelectScreen</label>
        <locationX>455</locationX>
        <locationY>298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contains_Community_Schools_Conference</targetReference>
        </connector>
        <fields>
            <name>TicketSelect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please select your tickets in the multi-select menu below:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Events_April_2024</name>
            <choiceReferences>EventChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Events April 2024</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>329</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TicketSelectScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
