force-app/main/default/flows/X21st_Century_Extra_Tickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Add_Saturday_Schools_Out</name>
        <label>Add Saturday Schools Out</label>
        <locationX>228</locationX>
        <locationY>582</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Existing.Schools_Out_Saturday_2024_Ticket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckExisting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists</name>
        <label>Exists?</label>
        <locationX>225</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Get_Sat_Schools_Out_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckExisting.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>YesExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordFound</name>
        <label>RecordFound</label>
        <locationX>233</locationX>
        <locationY>450</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Existing.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Saturday_Schools_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>21st Century Extra Tickets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>21st Century Extra Tickets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sat_Schools_Out_Reg</name>
        <label>Create Sat Schools Out Reg</label>
        <locationX>460</locationX>
        <locationY>686</locationY>
        <inputAssignments>
            <field>Accommodations_Description__c</field>
            <value>
                <elementReference>Fetch_Existing.Accommodations_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodations_Needed__c</field>
            <value>
                <elementReference>Fetch_Existing.Accommodations_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Membership__c</field>
            <value>
                <elementReference>Fetch_Existing.Active_Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction_Description__c</field>
            <value>
                <elementReference>Fetch_Existing.Dietary_Restriction_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary_Restriction__c</field>
            <value>
                <elementReference>Fetch_Existing.Dietary_Restriction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Description__c</field>
            <value>
                <elementReference>Fetch_Existing.Funding_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_funding_if_applicable__c</field>
            <value>
                <elementReference>Fetch_Existing.Type_of_funding_if_applicable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Contact__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Instance__c</field>
            <value>
                <elementReference>Get_Sat_Schools_Out_Instance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Get_Sat_Schools_Out_Instance.summit__Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_City__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Country__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Email__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_First_Name__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Last_Name__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Phone__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Preferred_First_Name__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Preferred_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Pronouns__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Pronouns__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_State__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_1__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Street_2__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Street_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Registrant_Zip__c</field>
            <value>
                <elementReference>Fetch_Existing.summit__Registrant_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CheckExisting</name>
        <label>CheckExisting</label>
        <locationX>234</locationX>
        <locationY>704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstLastEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Existing.FirstLastEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>summit__Event_Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Saturday 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing</name>
        <label>Fetch Existing</label>
        <locationX>239</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>summit__Event_Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>21st Century 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sat_Schools_Out_Instance</name>
        <label>Get Sat Schools Out Instance</label>
        <locationX>350</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sat_Schools_Out_Reg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>summit__Instance_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schools Out Saturday 2024</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>113</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fetch_Existing</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SatSchoolsOutEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>summit__Summit_Events__c</objectType>
    </variables>
</Flow>
